html {
  overflow-y: scroll; 
  overflow-x: hidden;
}

body {
  margin:0 auto;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  line-height: 187.5%;
  letter-spacing: 0.01em;
  background: #f1f1f1;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.socialMain {
  text-align: right;
}

img {
  margin-top: 25px;
  width: 500px;
  align-items: center;
  overflow: hidden;
  border-radius: 15px;
}

.homeBtn {
  text-align: center;
  margin:auto;
  display: flex;
  margin-top: 0;
  float: right;
  margin-right: 80px;
  font-size: 49px;
  background-color: #111;
  color: white;
  border: none;
  cursor: pointer;
  padding-left: 10px;
  padding-right: 10px;
} 

#link {
  font-size: 15px;
  text-align: center;
  font-weight: lighter;
  margin-left: 0;
  color: white;
  text-decoration: none;
}

#socialLink {
  text-decoration: none;
}

.album {
  max-width: 250px;
  max-height: 250px;
  margin-top: -40px;
  margin-bottom: 160px;
  margin-right: 25px;
  justify-content: space-evenly;
}

.albumlist { 
  display: flex;
}

.spotifylnk {
  height: 325px;
}

.grow { 
  transition: transform .2s; 
}
  
.grow:hover { 
  transform: scale(1.2);
}

.title {
  margin-top: 30%;
  margin-left: 45%;
  text-align: center;
}

#about {
  display: none;
  width: 300px;
  height: 450;
  margin-top: 2%;
  text-align: center;
  font-weight: bold;
}

#text-info {
  height: 400px;
  text-align: center;
  padding: 5px;
  font-size: 18px;
  font-weight: bolder;
}

#disco {
  display: none;
}

#news {
  display: none;
  margin-top: 50px;
}

#upcoming {
  display: none;
}

p {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  max-width: 350px;
}

.logo {
  max-width: 100px;
  margin-top: 0px;
  margin-left: -15px;
  cursor: pointer;
}

@media only screen and (max-height: 450px) {
  .spotifylnk {width: 340px; height: 300px; float: left;}
}

@media only screen and (max-height: 450px) {
  #text-info {width: 100%; overflow: scroll; float: left;}
}

@media only screen and (max-height: 450px) {
  #about {width: 100%; overflow: scroll; float: left;}
}

@media only screen and (max-height: 450px) {
  img {width: 100%; height: 300px; float: left;}
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mainBtn{
  width: auto;
  height: auto;
  display:block;
  align-items: center;
  background: transparent;
  border: transparent;
}

header {
  position: fixed;
  margin-left: 5px;
  margin-bottom: 25px;
  text-align: left;
  line-height: .35rem;
  letter-spacing: 1%;
  text-shadow: 1px 1px 4px rgb(169 169 169);
  float: left;
  margin-left: 15px;
  top: 0;
  left: 0;
}

h1 {
  font-size: 20px;
  text-align: center;
  font-weight: lighter;
  margin-left: 0;
}

h2 {
  font-size:  20px;
  font-weight: lighter;
  font-style: italic;
  line-height: .5;
  text-align: center;
}

footer {
  position: fixed;
  margin-top: 2%;
  height: 100px; 
  width: 100%;
  text-align: center;
  font-size: 0.8em;
  bottom: -30px;
}

footer ul {
  list-style-type: none;
}
footer ul li {
  display: inline;
  margin: 0 15px;
}

.mainImg {
  margin-left: 25%;
  margin-right: 25%;
}


/*sidebar menu */
.sidebar {
  height: 100%;
  width: 0; 
  position: fixed; 
  z-index: 1; 
  top: 0;
  left: 0;
  background-color: #111; 
  overflow-x: hidden; 
  padding-top: 60px; 
  transition: 0.5s; 
}

/* sidebar links */
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 40px;
  margin-left: 50px;
}

.openbtn {
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border: none;
  margin-right: 2px;
  position:absolute;
  margin-top:0;
  right:0;
  float: right;
  font-size: 23px;
  font-weight: lighter;
}

.openbtn:hover {
  background-color: #444;
}

#main {
  transition: margin-left .5s; /* If you want a transition effect */
  padding: 20px;
}


@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

@media screen and (max-height: 450px) {
  #mainimg {
    height: 120px;
    overflow: hidden;
  }
}

.shadow {
  box-shadow: 0 1px 1px rgba(0,0,0,0.11), 
              0 2px 2px rgba(0,0,0,0.11), 
              0 4px 4px rgba(0,0,0,0.11), 
              0 8px 8px rgba(0,0,0,0.11), 
              0 16px 16px rgba(0,0,0,0.11), 
              0 32px 32px rgba(0,0,0,0.11);
}

.txtshadow {
  text-shadow: 0px 2px 1.5px rgba(0,0,0,0.1),
  0px 2px 1.5px rgba(0,0,0,0.1),
  0px 2px 1.5px rgba(0,0,0,0.1);
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
}

.Containers {
  display: none;
  position: absolute;
}

.Back, .forward {
  cursor: pointer;
  position: absolute;
  top: 48%;
  width: auto;
  margin-top: -23px;
  padding: 17px;
  color: grey;
  font-weight: bold;
  font-size: 25px;
  transition: 0.4s ease;
  border-radius: 0 5px 5px 0;
  user-select: none;
}

.forward {
  right: 0;
  border-radius: 4px 0 0 4px;
}

.Back {
    left: 0;
    border-radius: 4px 0 0 4px;
}

.Back:hover, .forward:hover, .homeBtn:hover {
  background-color: rgba(0,0,0,0.8);
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.4s;
  animation-name: fade;
  animation-duration: 1.4s;
}

@-webkit-keyframes fade {
  from {opacity: .5}
  to {opacity: 2}
}

@keyframes fade {
  from {opacity: .5}
  to {opacity: 2}
}


html {
  height: 100%;
}

#textCntr {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow:hidden;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  background-size:auto;
}



/* social icons */
#social-icons {
  text-align: center;
  font-size: 25px;
  bottom:0;
  left: 42%;
}

#social-icons h2 {
  color: #fff;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  font-weight: 100;
}

#social-icons .social {
  padding-left: 0px;
}

#social-icons li a {
  color: black;
  list-style-type: none;
  display: inline-block;
  cursor: pointer;
  transition: ease 0.3s;
}

#social-icons li a:hover {
  color: rgb(97, 46, 192);
}
.social:hover > li a {
  opacity: 0.5;
}
.social:hover > li a:hover {
  opacity: 1;
}

.image {
  display: block;
  width: 200px;
  height: auto;
  cursor: pointer;
}

.container {
  margin-bottom: 35px;
}

.overlay {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: black;
  cursor: pointer;
}

.container:hover .overlay {
  opacity: 1;
  margin-bottom: 20px;
  position: absolute;
}

.text {
  color: white;
  font-size: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  margin: 2px;
}


.light {
  color: #fff;
  background-color: black;
  padding: 50px;
  font-size: 40px;
  text-shadow:
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px #0ff,
    0 0 80px #0ff,
    0 0 90px #0ff,
    0 0 100px #0ff,
    0 0 150px #0ff;
}



